
<h1>Stupid Coaching</h1>

<div id="responds">
  <div class="message">
    <p><%= @ans%></p>
    <p class="who">-You</p>
  </div>

   <div class="message">
    <p><%= @res%></p>
    <p class="who">-You</p>
  </div>

</div>

<%= link_to("back", ask_path)%>
